/* General Styles */
body {
  font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Login Section */
.login-section {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.login-section:hover {
  transform: scale(1.03);
}

/* Heading only */
.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #131212;
}

/* Input Fields */
.input-text {
  margin-bottom: 16px;
}

.input-text label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #0f0e0e;
}

.input-text input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.input-text input:focus {
  border-color: #0978ee;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
}

/* Button */
.btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.btn:hover {
  background-color: #0056b3;
}

/* Register Link */
.register-link {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.register-link a:hover {
  text-decoration: underline;
  color: #0056b3;
}
